
/* Elements */
body{
    font-family: "Modern Antiqua", serif;
    font-weight: 400;
    font-style: normal;
}

h2{
    color: #6ec9fb;
    font-family: "Modern Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3{
    color: #6ec9fb;
    font-family: "Modern Antiqua", serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Span specs */
.web{
    color: #bbdcf5;
}
/* Classes */
/* Image of the First title page */
/* Container holding the image and the text */
.container{
    display: grid;
    width: 100%;
    height: 70vh;
    font-family: "Open Sans", sans-serif;
}
.title{
    display: flex;
    flex-direction: column;
    background-color: #0aa1ff;
    width: 100%;
    height: 800px;
    font-family: "Open Sans", sans-serif;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    z-index:-1;
}
/* 2nd section "Features" design below  */
.features{
    /* background-color: #6ec9fb; */
    color: #022784;
    font-family: "Open Sans", sans-serif;
    display: grid;
    height: 80vh;
    grid-template-columns: 300px 800px;
    grid-template-rows: 200px 200px;
    padding: 30px;
    gap:20px;
    justify-content: center;
    align-content: center;
}
#feature-title{
    color: #0072c4;
    text-align: center;
    top: 900px;
}
#skills{
    color: #5a5ace;
    font-size: 1.3rem;
    padding-left: 10px;
}
#coding{
    border-radius: 70px;
}
#food{
    border-radius: 50px;
}
#interests{
    color: #5a5ace;
    font-size: 1.3rem;
    padding-left: 10px;
}

/* The dots section */
#dots{
    /* background-color: #6ec9fb; */
    color: #29b385;
    display: inline;
    text-align: center;
}
/* Footer CSS design from here*/ 
.footer{
    /* background-color: #6ec9fb; */
    color: #022784;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 200px 100px;
}
#developer{
    left: 40%;
     position: relative;
     border-radius: 10px;
}
#qoute{
    position: relative;
    padding: 20px;
    /* To align the paragraph start with Pictures above */
    padding-left: 90px;
    font-size: 17px;
}
#paragraph{
    position: relative;
    text-align: center;
    top: 20%;
}
#Contact-me{
    display: inline-block;
    background-color: aqua;
    width: 50px;
    border-radius: 40px;
    color: #3b5f5f;
    text-align: center;
}
.container-footer{
    display: block;
    background-color: #212f3d;
    color: white;
    text-align: center;
}
